.settings-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.setting-item {
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Rounded buttons
button, .button {
    border-radius: var(--border-radius);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

*/


/* Responsive adjustments */
