#edgebuttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#edgebuttons button {
    width: 100px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 15px 30px;
    font-size: 50px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

#create {
    /* background-color: #466FAC; */
    background-color: #2C5696;
    color: #fff;
    transition: background-color 0.3s ease;
}
#create:hover {
    background-color: #213f6e;
}


#delete {
    background-color: #2C5696;
    color: #fff;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}
#delete:hover {
    background-color: #213f6e;
}
#delete.deletepressed {
    background-color: #213f6e;
    color: #aaa;
}


.deleteMe {
    transition: background-color 0.5s ease;
    background-color: #F63E3E;
    animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

#button-container {
    max-width: 1400px;
    margin: 0 auto; /* Center the container horizontally */
}

#button-container a {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Specify the transition properties */
    opacity: 1; /* Initially set opacity to 1 */
    visibility: visible; /* Initially set visibility to visible */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); */
}

/* Add specific styles for the hidden state */
#button-container a.hide {
    opacity: 0; /* Set opacity to 0 for hidden buttons */
    pointer-events: none; /* Disable pointer events for hidden buttons */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Specify the transition properties */
    visibility: hidden; /* Hide the button but keep the space in the layout */
}
/* .button { */
/*     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); */
/* } */

.search-field {
    padding: 10px;
    padding-left: 50px;
    width: 550px;
    border: none;
    border-radius: 50px;
    font-size: 48px;
    color: white;
    background-color: #2C5696;
    outline: none;
    margin-bottom: 50px;
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); */
}
.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting {
    margin-top: 20px;
}
/* Media query for smaller screens */
@media (max-width: 600px) {
    .search-field {
        width: 80%;
        margin-bottom: 20px;
        font-size: 25px;
        padding-left: 15px;
    }
    .button {
        font-size: 20px;
        padding: 15px;
    }
    #edgebuttons button {
        width: 50px;
        font-size: 20px;
    }
    nav {
        margin: 10px;
        font-size: 20px;
    }
    .logo {
        width: 140px;
        height: 80px;

    }
    .greeting {
        font-size: 20px;
        text-align: left;
        margin: 10px;
        max-width: 60%;
    }

    .logo-section {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.search-field::placeholder {
    color: white;
    opacity: 0.6;
}
