.social-media-container {
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.embedded-page {
    margin-bottom: 20px;
    width: 100%; /* Set to max width or fixed width as needed */
    max-width: 320px; /* For mobile responsiveness */
    border: 1px solid #ccc; /* Optional border */
}

/* Style for news toggle button */
#toggleNews {
    margin-top: 20px; /* Space from the last access link */
}