body {
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background-color: #fff;
    background-size: cover;
    color: #2C5696;
    /* color: #0072c6; */
    padding: 10px;
}

#nav1 #nav2 a {
    text-decoration-style: ;
    text-decoration-color: ;
    color: #2C5696;
    /* color: #0072c6; */
}

h1 {
    margin: 0;
}
nav a{
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    /* color: #0072c6; */
    color: #2C5696;
    text-decoration-style:solid ;
    text-decoration-color: ;
}
nav {
    background-color: #fff;
    margin: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #2C5696;
    /* color: #0072c6; */
}
.button {
    display: inline-block;
    /* background-color: #0072c6; */
    background-color: #2C5696;
    color: #fff;
    padding: 15px 30px;
    font-size: 50px;
    border: none;
    border-radius: 10px;
    margin: 20px;
}
.logo {
    width: 280px;
    height: 150px;
}