body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
header {
    background-size: cover;
    color: #2C5696;
    padding: 10px;
}

#nav1 #nav2 a {
    color: #2C5696;
}

h1 {
    margin: 0;
}
nav a{
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #2C5696;
    text-decoration: none;
}
nav {
    margin: 10px;
    font-size: 40px;
    text-decoration: none;
    color: #2C5696;
}
.button {
    display: inline-block;
    background-color: #2C5696;
    color: #fff;
    padding: 15px 30px;
    font-size: 50px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
}
.logo {
    width: 280px;
    height: 150px;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting {
    margin-top: 20px;
}
/* Media query for smaller screens */
@media (max-width: 600px) {
    .button {
        font-size: 20px;
        padding: 15px;
	margin: 9px;
    }
    nav {
        margin: 10px;
        font-size: 20px;
    }
    .logo {
        width: 140px;
        height: 80px;

    }
    .greeting {
        font-size: 20px;
        text-align: left;
        margin: 10px;
        max-width: 60%;
    }

    .logo-section {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
