/* Värvi muutujad 
index.html värvid on ka start.css failis, nad jäid muutumata
*/
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --primary-color: #2C5696;
    --button-bg-color: #2C5696;
    --button-text-color: #ffffff;
    --button-bg-hover-color: #213f6e;
    --logo-width: 180px;
    --logo-height: 180px;
    --border-radius: 10px;

    /* Dark Mode muutujad */
    --background-color-dark: #262626; 
    --text-color-dark: #ffffff;
    --primary-color-dark: #374785; 
    --button-bg-hover-color-dark: #303f9f; /
}

/* peamised */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-size: cover;
    color: var(--primary-color);
    padding: 10px;
}

nav {
    margin: 10px;
    font-size: 40px;
    text-decoration: none;
}

nav a {
    margin: 20px 1rem;
    color: var(--primary-color);
    text-decoration-style: solid;
    transition: color 0.3s, background-color 0.3s;
}

.button {
    display: inline-block;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 15px 30px;
    font-size: 50px;
    border: none;
    border-radius: var(--border-radius);
    margin: 20px;
    cursor: pointer;
}

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
}



/* Dark Mode */
.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.dark-mode header, .dark-mode nav, .dark-mode .button {
    color: var(--text-color-dark);
}

.dark-mode nav a:hover, .dark-mode .button:hover {
    background-color: var(--button-bg-hover-color-dark);
}

/* noolega nupp */

#scrollToTop {
    position: fixed;
    bottom: 20px;
    left: 20px; 
    background-color: var(--primary-color-dark); 
    color: #ffffff; 
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    display: none; /* mittenähtav */
}
.light-mode #scrollToTop {
    background-color: transparent; 
    color: var(--primary-color); 
    border: 2px solid var(--primary-color); 
}
.dark-mode #scrollToTop {
    background-color: var(--background-color-dark);
    color: #ffffff;
}

/* ? nupp */
#helpButton {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color-dark);
    color: #ffffff; 
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}
.light-mode #helpButton {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color); 
}
.dark-mode #helpButton {
    background-color: var(--background-color-dark);
    color: #ffffff; 
}





/* abiaken */
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    padding-top: 50px; 
    padding-bottom: 50px;

}
.modal-content {
    background-color: var(--background-color-light); 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: auto;
    width: 80%;
}
.modal-content p {
    font-size: 2rem; 
    line-height: 1.2;
    margin-bottom: 1.5rem; 
    max-width: 800px; /
}
.dark-mode .modal-content {
    background-color: var(--background-color-dark); 
    color: var(--text-color-dark); 
}
/* abiakna sisu, elemendid */

/* abiakna x nupp */
.close {
    float: right;
    color: var(--primary-color); 
    font-size: 1.5rem;
    font-weight: bold;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
}
.dark-mode .close {
    color: var(--text-color-dark); 
}
/* abiakna tagasiside nupp */
#modal-feedback-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}
.dark-mode #modal-feedback-button {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
}





/* sättede ja tagasiside (modal) nupp  */ 
.button1 {
    background-color: var(--primary-color); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 0.9rem; 
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    text-align: center;
    display: inline-block; 
}
.button1:hover {
    background-color: var(--button-bg-hover-color); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
.button1:active {
    transform: translateY(2px); 
}
.dark-mode .button1 {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark); 
}
.dark-mode .button1:hover {
    background-color: var(--button-bg-hover-color-dark);
}