/* Värvi muutujad 
index.html värvid on ka start.css failis, nad jäid muutumata
*/
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --primary-color: #2C5696;
    --button-bg-color: #2C5696;
    --button-text-color: #ffffff;
    --button-bg-hover-color: #213f6e;
    --logo-width: 180px;
    --logo-height: 180px;
    --border-radius: 10px;

    /* Dark Mode muutujad */
    --background-color-dark: #262626; 
    --text-color-dark: #ffffff;
    --primary-color-dark: #374785; 
    --button-bg-hover-color-dark: #303f9f; /
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-size: cover;
    color: var(--primary-color);
    padding: 10px;
}

nav {
    margin: 10px;
    font-size: 40px;
    text-decoration: none;
}

nav a {
    margin: 20px 1rem;
    color: var(--primary-color);
    text-decoration-style: solid;
    transition: color 0.3s, background-color 0.3s;
}

.button {
    display: inline-block;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 15px 30px;
    font-size: 50px;
    border: none;
    border-radius: var(--border-radius);
    margin: 20px;
    cursor: pointer;
}

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
}



/* Dark Mode */
.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.dark-mode header, .dark-mode nav, .dark-mode .button {
    color: var(--text-color-dark);
}

.dark-mode nav a:hover, .dark-mode .button:hover {
    background-color: var(--button-bg-hover-color-dark);
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Changed from right to left */
    background-color: var(--primary-color-dark); /* Dark background for both themes */
    color: #ffffff; /* White text for visibility */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    display: none; /* Initially hidden */
}

.light-mode #scrollToTop {
    background-color: transparent; /* Transparent background for light mode */
    color: var(--primary-color); /* Blue text */
    border: 2px solid var(--primary-color); /* Blue border */
}

/* Ensure visibility in dark mode */
.dark-mode #scrollToTop {
    background-color: var(--background-color-dark); /* Dark background for dark mode */
    color: #ffffff;
}


#helpButton {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color-dark); /* Dark background for both themes */
    color: #ffffff; /* White text for visibility */
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

/* Specific styles for light mode */
.light-mode #helpButton {
    background-color: transparent; /* Transparent background for light mode */
    color: var(--primary-color); /* Blue text */
    border: 2px solid var(--primary-color); /* Blue border */
}

/* Ensure visibility in dark mode */
.dark-mode #helpButton {
    background-color: var(--background-color-dark); /* Dark background for dark mode */
    color: #ffffff; /* White text */
}






.modal {
    /* Full viewport width and height to cover the entire window */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    padding-top: 50px; /* Add some space at the top */
    padding-bottom: 50px;

}

.modal-content {
    /* Styles for modal content */
    background-color: var(--background-color-light); /* For light mode */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    text-align: left;
    margin: auto;
    width: 80%;
}




/* Style adjustments for paragraphs within the modal */
.modal-content p {
    font-size: 2rem; /* Smaller font size for a more elegant look */
    line-height: 1.4;
    margin-bottom: 1.5rem; /* Space between paragraphs */
    max-width: 700px; /* Fixed width for paragraph text */
}


/* Dark mode styles for modal */
.dark-mode .modal-content {
    background-color: var(--background-color-dark); /* Dark background for dark mode */
    color: var(--text-color-dark); /* White text for dark mode */
}




/* Close button style */
.close {
    float: right;
    color: var(--primary-color); /* Light mode close button color */
    font-size: 1.5rem;
    font-weight: bold;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
}

/* Dark mode close button style */
.dark-mode .close {
    color: var(--text-color-dark); /* Dark mode close button color */
}

/* Style for the Give Feedback button within the modal */


#modal-feedback-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}


/* Dark mode style for Give Feedback button */
.dark-mode #modal-feedback-button {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
}





